*
!.gitignore

################
# spare files
################
!.bash_profile
!.gitconfig
!.aliases
!README.md

################
# emacs stuff
################
!.emacs
!.emacs.d/
!.emacs.d/plugins/
!.emacs.d/plugins/elscreen.el
 
###############
# script stuff
###############
!bin/
!bin/batteryInfo
!bin/snumber
!bin/brewrm
!.scripts/
!.scripts/macStartup.sh
!.scripts/geek.sh

###############
!.zshrc
!.tmux.conf
###############