"*":
  core: {}
  editor:
    fontSize: 11
    invisibles: {}
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "f3e3f154-ed30-4d04-70f9-b62efad80aee"
  welcome:
    showOnStartup: false
