'atom-workspace atom-text-editor:not([mini])':
  'cmd-alt-l': 'editor:auto-indent'
  'escape k': 'editor:delete-line'
  'escape left': 'editor:move-to-beginning-of-word'
  'escape right': 'editor:move-to-end-of-word'
  'escape backspace': 'editor:delete-to-beginning-of-word'
  'escape up': 'editor:fold-current-row'
  'escape down': 'editor:unfold-current-row'
  'ctrl-a |': 'pane:split-right'
  'ctrl-a _': 'pane:split-down'
  'ctrl-a right': 'window:focus-pane-on-right'
  'ctrl-a left': 'window:focus-pane-on-left'
  'ctrl-a up': 'window:focus-pane-above'
  'ctrl-a down': 'window:focus-pane-below'
